<div class="formularioEmpleado">
  <h2>Registro Empleado</h2>
  <form [formGroup]="empleadoForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label for="exampleInputEmail1">Fecha Ingreso</label>
      <input type="date" class="form-control" formControlName="fecha_ingreso" aria-describedby="Fecha de ingreso">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Salario</label>
      <input type="number" class="form-control" formControlName="salario" placeholder="Salario">
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>

<div class="formularioEmpleado">
  <h2>Personas registradas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha Ingreso</th>
          <th>Nombre</th>
          <th>Salario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row  of empleados">
          <th>{{row.id}}</th>
          <td>{{row.fecha_ingreso}}</td>
          <td>{{row.nombre}}</td>
          <td>{{row.salario}}</td>

        </tr>
      </tbody>
    </table>
  </div>
